<div id="<%= dom_id event %>">
  <p>
    <strong>Location:</strong>
    <%= event.location %>
  </p>

  <p>
    <strong>Entry:</strong>
    <%= event.entry %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= event.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= event.end_time %>
  </p>

  <p>
    <strong>Icon:</strong>
    <%= event.icon %>
  </p>

  <p>
    <strong>Deleted at:</strong>
    <%= event.deleted_at %>
  </p>

</div>
